services:
  mysql:
    image: 'mysql:latest'
    container_name: 'mysqlpedro'
    environment:
      - 'MYSQL_DATABASE=mydatabase'
#      - 'MYSQL_PASSWORD=root'
      - 'MYSQL_ROOT_PASSWORD=root'
#      - 'MYSQL_USER=root'
    ports:
      - '3306:3306'


  backend:
#    build: .
    image: 'pedro.cros/backend:1.0'
    container_name: 'spring-backend-pedro'
    ports:
      - '8080:8080'
    depends_on:
      - 'mysql'


# docker-compose up -d